Assignment 1/photometric/photometrics_images/
.DS_Store
Assignment 1/photometric/row-majorintegrationshape.png
Assignment 1/photometric/column-majorintegrationshape.png
Assignment 1/photometric/averageintegrationshape.png
