Assignment 1/photometric/photometrics_images/
.DS_Store
Assignment 1/photometric/row-majorintegrationshape.png
Assignment 1/photometric/column-majorintegrationshape.png
Assignment 1/photometric/averageintegrationshape.png
Assignment 1/photometric/monkcolor_norm_map.png
Assignment 1/photometric/monkcolor_hm.png
Assignment 1/photometric/column-majorintegrationshape.png
Assignment 1/photometric/averageintegrationshape.png
Assignment 1/cv1_labs_A1.pdf
Assignment 1/photometric/averageintegrationshape.png
Assignment 1/photometric/column-majorintegrationshape.png
Assignment 1/photometric/photometric_stereo.m
Assignment 1/photometric/sphere_normal_map.png
Assignment 1/photometric/spherecolor_avg_hm.fig
Assignment 1/photometric/spherecolor_avg_hm.png
*.avi
*.mov
Assignment 3/yourvideo.avi
*.avi
Final project/st10_matlab/*
